<ion-header [translucent]="true">
  <ion-toolbar class="header_toolbar">
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed" class="inheader">
    <ion-fab-button (click)="delete()">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="none" *ngIf="products && products.products">
    <ion-item *ngFor="let product of products.products">
      <ion-thumbnail slot="start">
        <img [src]="product.imageURL || 'assets/data/fallback.png'"/>
      </ion-thumbnail>
      <ion-label>{{product.title}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="product.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-input placeholder="Product Name" clearInput value="povezi value sa ts"></ion-input>
    <ion-button>
      Add To List
    </ion-button>
  </ion-toolbar>
</ion-footer>